@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*, *::before, *::after{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
:root{
    --mygreen: #06C324;
    --myblue: #4E1EFF;
}
body{
    font-family: 'Roboto', sans-serif;
}