@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*, *::before, *::after{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
:root{
    --purpleblue: #4e1eff;
    --mygreen: #06c324;
    --mygrey: #ebebeb;
    --darkorange: #ff8c00;
    --myskyblue: #8EECFF;
}
body{
    display: flex;
    background-color: #EBEBEB;
}
.container{
    font-family:'Roboto', sans-serif;
    height: 70vh;
    width: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px 10px;
    border-radius: 10px;

}
.left-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid #4E1EFF;
    background-color: white;
    border-radius: 10px 0 0 10px;
}
.left-container h1{
    color: #4E1EFF;
    text-align: center;
    font-size: 3rem;
}
.left-container img{
    height: 70%;
    width: 100%;
}
.right-container{
    width: 50%;
    height: 100%;
    background-color: #4E1EFF;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.right-container h1{
    color: white;
    text-align: center;
}
.right-container form {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.holder {
    height: 60px;
    width: 100%;
}
.holder label{
    color: white;
}
.holder input{
    height: 40px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    outline: none;
    transition: all .2s ease;
}
.holder input:focus {
    outline: 2px solid darkorange;
    border: none;
    box-shadow: 0 5px 20px 0px;
}
form button{
    height: 40px;
    width: 100%;
    background-color: #06C324;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in;
    font-size: 16px;
    margin-top: 20px;
}
form button:active{
    transform: scale(0.98);
}
form hr{
    height: 2px;
    width: 100%;
    margin-top: 20px;

}
form a#new-account-btn:hover{
    color: white;
    background-color: red;
}
footer{
    font-size: 20px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%)
}
a#new-account-btn {
    padding: 10px;
    height: 40px;
    width: 200px;
    background-color: white;
    color: var(--purpleblue);
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    border-radius: 10px;
    font-size: 14px;
    transition: all .3s ease-in;
}





@media screen and (max-width: 991px) {
/* start of large tablet styles */

}
    
@media screen and (max-width: 767px) {
/* start of medium tablet styles */

}
    
@media screen and (max-width: 479px) {
/* start of phone styles */

}